// Framework
@import 'graphacss';

// Initialize values
$values: (SBP1: 22.0, SBP2: 16.3, SBP3: 16.0, SBP4: 14.2, DBP1: 13.6, DBP2: 9.7, DBP3: 10.3, DBP4: 9.3); // Data
$barColors: (#D4451D, #918F90, #CFCECE, #E5E4E4); // Colors for the bars
$redInvertParams: (
        graphic-background: #FFF,
        flex-graph: false,
        graph-invert: true,
        graphic-width: 630,
        graphic-height: 330,
        bar-width: 30,
        bar-margin: 20,
        value-color-bar: true,
        value-max: 25,
        background-lines-color: #DADADA,
        show-first-line: true,
        legend-gap: 5,
        legend-color: #212121,
        group-bars: 4,
        group-margin: 60,
        value-prefix: '-',
        value-suffix: '',
        display-labels: false
);
$redInvertParams: map-merge($defaultParameters, $redInvertParams);
@include graph-generator('redinvert', $redInvertParams, $values, $barColors); // Generate the CSS for the graphic

// SUNSET demo
$values: (AMD RX480: 24, GTX 1070: 32, GTX 1080: 36, AMD RX4801: 56, GTX 10701: 68, GTX 10801: 75, AMD RX4802: 45, GTX 10702: 72, GTX 10802: 74); // Data
$barColors: $sunset; // Colors for the bars
@include graph-generator('demo1', $defaultParameters, $values, $barColors); // Generate the CSS for the graphic

// WINTER IS COMING
$demo2Parameters: map-merge($defaultParameters, (graph-type: 'horizontal-bars', flex-graph: false));
// Initialize values
$values: (First: 24, Second: 32, Rocks: 36, Flop: 56, Croc: 68, Top: 75); // Data
$barColors: $winteriscoming; // Colors for the bars
@include graph-generator('demo2', $demo2Parameters, $values, $barColors);

// MATRIX
$matrixParams: (
        graph-type: 'horizontal-bars',
        value-position: 'inside',
        graphic-background: #000801,
        background-lines-color: #212121,
        value-color-dark: #000408,
        value-color-light: #0CCD58,
        label-color-dark: #000408,
        label-color-light: #0CCD58
);
$matrixParams: map-merge($defaultParameters, $matrixParams);
// Initialize values
$values: (First: 24, Second: 32, Rocks: 36, Flop: 56, Croc: 68, Top: 75); // Data
$barColors: $thematrix; // Colors for the bars
@include graph-generator('thematrix', $matrixParams, $values, $barColors);