/* ==========================================================================
   Graphacss data
   ========================================================================== */
/* ==========================================================================
   Graphacss parameters
   ========================================================================== */
/* ==========================================================================
   Graphacss framework
   ========================================================================== */
.graphacss {
  position: relative;
  display: block;
  background-color: #EEE;
  width: 800px;
  height: 500px; }
  .graphacss__steps_step {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0; }
    .graphacss__steps_step:before {
      font-family: "Helvetica", sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #AAA; }
    .graphacss__steps_step:nth-child(1):before {
      content: "0"; }
    .graphacss__steps_step:nth-child(2) {
      bottom: 41.67px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(2):before {
        content: "10"; }
    .graphacss__steps_step:nth-child(3) {
      bottom: 83.34px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(3):before {
        content: "20"; }
    .graphacss__steps_step:nth-child(4) {
      bottom: 125.01px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(4):before {
        content: "30"; }
    .graphacss__steps_step:nth-child(5) {
      bottom: 166.68px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(5):before {
        content: "40"; }
    .graphacss__steps_step:nth-child(6) {
      bottom: 208.35px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(6):before {
        content: "50"; }
    .graphacss__steps_step:nth-child(7) {
      bottom: 250.02px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(7):before {
        content: "60"; }
    .graphacss__steps_step:nth-child(8) {
      bottom: 291.69px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(8):before {
        content: "70"; }
    .graphacss__steps_step:nth-child(9) {
      bottom: 333.36px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(9):before {
        content: "80"; }
    .graphacss__steps_step:nth-child(10) {
      bottom: 375.03px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(10):before {
        content: "90"; }
    .graphacss__steps_step:nth-child(11) {
      bottom: 416.7px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(11):before {
        content: "100"; }
    .graphacss__steps_step:nth-child(12) {
      bottom: 458.37px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(12):before {
        content: "110"; }
  .graphacss__bars_bar {
    position: absolute;
    display: block;
    bottom: 0;
    width: 50px; }
    .graphacss__bars_bar:nth-child(1) {
      left: 60px;
      height: 100.08px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #7FDBFF; }
      .graphacss__bars_bar:nth-child(1):before {
        content: "24%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(1):after {
        content: "AMD RX480";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(2) {
      left: 120px;
      height: 133.44px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #DDD; }
      .graphacss__bars_bar:nth-child(2):before {
        content: "32%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(2):after {
        content: "GTX 1070";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(3) {
      left: 180px;
      height: 150.12px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #39CCCC; }
      .graphacss__bars_bar:nth-child(3):before {
        content: "36%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(3):after {
        content: "GTX 1080";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(4) {
      left: 290px;
      height: 233.52px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #7FDBFF; }
      .graphacss__bars_bar:nth-child(4):before {
        content: "56%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(4):after {
        content: "AMD RX4801";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(5) {
      left: 350px;
      height: 283.56px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #DDD; }
      .graphacss__bars_bar:nth-child(5):before {
        content: "68%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(5):after {
        content: "GTX 10701";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(6) {
      left: 410px;
      height: 312.75px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #39CCCC; }
      .graphacss__bars_bar:nth-child(6):before {
        content: "75%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(6):after {
        content: "GTX 10801";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(7) {
      left: 520px;
      height: 187.65px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #7FDBFF; }
      .graphacss__bars_bar:nth-child(7):before {
        content: "45%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(7):after {
        content: "AMD RX4802";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(8) {
      left: 580px;
      height: 300.24px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #DDD; }
      .graphacss__bars_bar:nth-child(8):before {
        content: "72%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(8):after {
        content: "GTX 10702";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(9) {
      left: 640px;
      height: 308.58px;
      animation: growUp 2s ease-in-out forwards;
      background-color: #39CCCC; }
      .graphacss__bars_bar:nth-child(9):before {
        content: "74%";
        position: absolute;
        height: auto;
        top: 5px;
        width: 50px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(9):after {
        content: "GTX 10802";
        position: absolute;
        bottom: -48px;
        height: 48px;
        left: -5px;
        width: 60px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }

/* ==========================================================================
   Graphacss animations
   ========================================================================== */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes growUp {
  from {
    max-height: 0; }
  to {
    max-height: 500px; } }

@keyframes expandLeft {
  from {
    max-width: 0; }
  to {
    max-width: 800px; } }
