/* ==========================================================================
   Graphacss data
   ========================================================================== */
/* ==========================================================================
   Graphacss parameters
   ========================================================================== */
/* ==========================================================================
   Graphacss framework
   ========================================================================== */
.graphacss {
  position: relative;
  display: block;
  background-color: #EEE;
  width: 800px;
  height: 500px; }
  .graphacss__steps_step {
    position: absolute;
    display: block;
    left: 0;
    left: 0; }
    .graphacss__steps_step:before {
      font-family: "Helvetica", sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #AAA; }
    .graphacss__steps_step:nth-child(1):before {
      content: "0"; }
    .graphacss__steps_step:nth-child(2) {
      left: 66.67px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(2):before {
        content: "10"; }
    .graphacss__steps_step:nth-child(3) {
      left: 133.34px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(3):before {
        content: "20"; }
    .graphacss__steps_step:nth-child(4) {
      left: 200.01px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(4):before {
        content: "30"; }
    .graphacss__steps_step:nth-child(5) {
      left: 266.68px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(5):before {
        content: "40"; }
    .graphacss__steps_step:nth-child(6) {
      left: 333.35px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(6):before {
        content: "50"; }
    .graphacss__steps_step:nth-child(7) {
      left: 400.02px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(7):before {
        content: "60"; }
    .graphacss__steps_step:nth-child(8) {
      left: 466.69px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(8):before {
        content: "70"; }
    .graphacss__steps_step:nth-child(9) {
      left: 533.36px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(9):before {
        content: "80"; }
    .graphacss__steps_step:nth-child(10) {
      left: 600.03px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(10):before {
        content: "90"; }
    .graphacss__steps_step:nth-child(11) {
      left: 666.7px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(11):before {
        content: "100"; }
    .graphacss__steps_step:nth-child(12) {
      left: 733.37px;
      height: 100%;
      border-left: 1px solid #DDD; }
      .graphacss__steps_step:nth-child(12):before {
        content: "110"; }
  .graphacss__bars_bar {
    position: absolute;
    display: block;
    left: 0;
    height: 30px; }
    .graphacss__bars_bar:nth-child(1) {
      top: 40px;
      width: 160.08px;
      background-color: #FF4136; }
      .graphacss__bars_bar:nth-child(1):before {
        content: "24%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(1):after {
        content: "AMD RX480";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(2) {
      top: 80px;
      width: 213.44px;
      background-color: #2ECC40; }
      .graphacss__bars_bar:nth-child(2):before {
        content: "32%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(2):after {
        content: "GTX 1070";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(3) {
      top: 120px;
      width: 240.12px;
      background-color: #0074D9; }
      .graphacss__bars_bar:nth-child(3):before {
        content: "36%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(3):after {
        content: "GTX 1080";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(4) {
      top: 190px;
      width: 373.52px;
      background-color: #FF4136; }
      .graphacss__bars_bar:nth-child(4):before {
        content: "56%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(4):after {
        content: "AMD RX4801";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(5) {
      top: 230px;
      width: 453.56px;
      background-color: #2ECC40; }
      .graphacss__bars_bar:nth-child(5):before {
        content: "68%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(5):after {
        content: "GTX 10701";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(6) {
      top: 270px;
      width: 500.25px;
      background-color: #0074D9; }
      .graphacss__bars_bar:nth-child(6):before {
        content: "75%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(6):after {
        content: "GTX 10801";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(7) {
      top: 340px;
      width: 300.15px;
      background-color: #FF4136; }
      .graphacss__bars_bar:nth-child(7):before {
        content: "45%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(7):after {
        content: "AMD RX4802";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(8) {
      top: 380px;
      width: 480.24px;
      background-color: #2ECC40; }
      .graphacss__bars_bar:nth-child(8):before {
        content: "72%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(8):after {
        content: "GTX 10702";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #111;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }
    .graphacss__bars_bar:nth-child(9) {
      top: 420px;
      width: 493.58px;
      background-color: #0074D9; }
      .graphacss__bars_bar:nth-child(9):before {
        content: "74%";
        position: absolute;
        height: auto;
        right: 5px;
        top: 5px;
        width: 45px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        text-align: center; }
      .graphacss__bars_bar:nth-child(9):after {
        content: "GTX 10802";
        position: absolute;
        height: 32px;
        width: 40px;
        left: 5px;
        top: -1px;
        color: #FFF;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: center; }

/* ==========================================================================
   Graphacss animations
   ========================================================================== */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes growUp {
  from {
    max-height: 0; }
  to {
    max-height: 500px; } }

@keyframes expandLeft {
  from {
    max-width: 0; }
  to {
    max-width: 800px; } }
